

os: linux

dist: xenial


language: python

python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"


# Tell pip and others to shut up about Python 2.7 deprecation

env:
  - PYTHONWARNINGS=ignore


# How we'll be setting up the environment for use

cache: pip

install:
  - pip install -I coveralls docutils flake8 koji nose six


# What we'll run to actually do the testing

script:
  - flake8 kojismokydingo/ koji_cli_plugins/
  - coverage run -m nose

after_success:
  - coveralls


# The end.
